<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515701131981-jnl3crd0v350dfvebo8oiu2pe3qqvec3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515701131981-jnl3crd0v350dfvebo8oiu2pe3qqvec3</string>
	<key>API_KEY</key>
	<string>AIzaSyA6bqwvxeLXSLZlvGByaFNLuzZowWIHYqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>515701131981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.pdp.flutterMyinsta</string>
	<key>PROJECT_ID</key>
	<string>flutter-myinsta-e8051</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-myinsta-e8051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515701131981:ios:d2097c019799f8638a7784</string>
</dict>
</plist>